@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}

.header{
	width: auto;
}

body{
	background: url("../images/background.jpg");
	background-size: cover;
	min-height: 100vh;
	background-position: center center;
	position: relative;
}


/* Navigation section */
.navigation{
	background-color: rgba(37,78,131, 0.7);
	text-align: center;
	list-style: none;
	height: 36px;
}

.navigation li{
	padding-top: 5px;
	display: inline-block;
}

.navigation li a{
	font-family: 'Audiowide', cursive;
	color: white;
	text-decoration: none;
	padding: 5px 30px;
	font-size: 20px;
}

.navigation li a:hover{
	background: rgb(79,63,98);
}

.navigation li.selected a {
	background-color: #0d203a;
	color: #a3a3a3;
}


/* Home section */
.container{
	display: flex;
	padding-top: 100px;
	padding-right: 90px;
	padding-left: 90px;
}

.profile-img{
	margin-right: 50px;
}

.profile-img img{
	width: 300px;
	border-radius: 50%;
}

.profile-img p{
	font-family: 'Audiowide', cursive;
	color: white;
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
}

.about-me{
	width: 100%;
	padding-left: 80px;
	font-size: 18px;
}

.about-me h1{
	font-family: 'Audiowide', cursive;
	color: white;
}

.about-me p{
	color: white;
	text-align: justify;
	padding: 5px 0;
}

.about-me ul{
	color: white;
	text-align: justify;
	padding-left: 40px;
}

.about-me ul li{
	text-align: justify;
	padding: 5px 0;
}

.about-me img{
	padding-top: 10px;
	padding-bottom: 10px;
}

.about-me img.github{
	width: 30px;
	filter: invert(1);
}

.about-me img.linkedin{
	padding-left: 10px;
	width: 30px;
	filter: invert(1);
}

.about-me a{
	color: #7b56a5;
	text-decoration: none;
}

.location{
	padding-bottom: 60px;
}

.location img{
	vertical-align: middle;
	width: 30px;
	filter: invert(1);
}

.location span{
	vertical-align: middle;
	color: white;
}


/* Projects section */
.container-proj{
	display: flex;
	padding-top: 70px;
	padding-bottom: 30px;
	padding-right: 90px;
	padding-left: 90px;
}

/* LABPLAS */
.labplas-img{
	padding-top: 100px;
	margin-right: 50px;
}

.labplas-img img{
	width: 300px;
}

/* ECOBLUE */
.ecoblue-img{
	padding-top: 100px;
	margin-right: 50px;
}
	
.ecoblue-img img{
	width: 300px;
}

/* AEROS */
.aeros-img{
	padding-top: 20px;
	margin-right: 50px;
}
		
.aeros-img img{
	width: 300px;
}

/* K2D */		
.k2d-img{
	padding-top: 60px;
	margin-right: 50px;
}
			
.k2d-img img{
	width: 300px;
}
	
/* PORTXXI */			
.portxxi-img{
	padding-top: 100px;
	margin-right: 50px;
}
				
.portxxi-img img{
	width: 300px;
}

.proj{
	width: 100%;
	padding-left: 80px;
	font-size: 18px;
}

.proj h1{
	font-family: 'Audiowide', cursive;
	color: white;
}

.proj p{
	color: white;
	text-align: justify;
	padding: 5px 0;
}


/* Publications section */
.container-publ{
	padding-top: 70px;
	padding-bottom: 30px;
	width: 80%;
    margin: 0 auto;
}

.container-publ h1{
	font-family: 'Audiowide', cursive;
	text-align: center;
	color: white;
	font-size: 50px;
}

.container-publ ul{
	color: white;
	text-align: justify;
	padding: 20px 0;
	font-size: 40px;
	font-size: 20px;
}

.container-publ a{
	text-decoration: none;
	color: #7b56a5;
}


/* Blog section */
.container-blog{
	display: flex;
	padding-top: 70px;
	padding-bottom: 100px;
	justify-content: center;
}

.container-blog iframe{
	width: 500px;
	height: 500px;
}

.blog-1{
	padding-right: 15px;
	
}

.blog-1 h1{
	padding-top: 20px;
	padding-bottom: 10px;
	font-family: 'Audiowide', cursive;
	color: white;
}

.blog-2{
	padding-left: 15px;
}

.blog-2 h1{
	padding-top: 20px;
	padding-bottom: 10px;
	font-family: 'Audiowide', cursive;
	color: white;
}


/* Footer section */
.footer{
	height: 36px;
	background-color: rgba(4,8,14,0.7);
	position: absolute;
    bottom: 0;
	width: 100%
}

.footer p{
color: white;
text-align: center;
padding-top: 10px;
}



